Repository IOINITID/event-booking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write ., git add ., eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*": [
    "prettier --check --write .",
    "git add ."
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add ."
  ],
  "*.{css,scss,ts,tsx}": [
    "stylelint --fix",
    "git add ."
  ]
}

Updated events component
  src/components/events/events.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated events component
  src/components/app/app.tsx
  src/components/app/styled.ts
  src/components/event-item/event-item.tsx
  src/components/event-list/event-list.tsx
  src/components/events-banner/events-banner.tsx
  src/components/info-banner/info-banner.tsx
  src/components/items-list/items-list.tsx
  src/components/loader/event-list-loader.tsx
  src/components/loader/loader.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated events component
  src/components/modal/modal-success.tsx
  src/components/modal/styled.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated events component
  src/components/app/app.tsx
  src/features/theme/themeSlice.ts
  src/index.tsx
  src/store/index.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Added yarn.lock file
  .gitignore
  .travis.yml
  yarn.lock
Due: prettier --check --write ., git add .

Updated lintstaged configuration file
  .lintstagedrc
Due: prettier --check --write ., git add .

Removed engines field in package.json file
  package.json
Due: prettier --check --write ., git add .

Removed unused packages
  package.json
  src/components/app/app.tsx
  yarn.lock
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated webpack configuration file
  webpack.config.js
Due: prettier --check --write ., git add ., eslint --fix

Updated app styles
  package.json
  src/components/app/app.tsx
  src/components/app/styled.ts
  yarn.lock
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated packages
  package.json
  yarn.lock
Due: prettier --check --write ., git add .

Updated user slice types
  package.json
  src/features/user/userSlice.ts
  tsconfig.json
  yarn.lock
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated tsconfig.json file
  tsconfig.json
Due: prettier --check --write ., git add .

Updated loader component
  .eslintrc
  src/components/authorization/authorization.tsx
  src/components/bookings/bookings.tsx
  src/components/event-list-loader/event-list-loader.tsx
  src/components/event-list-loader/index.ts
  src/components/event-list/event-list.tsx
  src/components/events/events.tsx
  src/components/loader/index.ts
  src/components/loader/loader.tsx
  src/components/registration/registration.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated button component
  src/components/authorization/authorization.tsx
  src/components/booking-list/booking-list.tsx
  src/components/bookings-controls/bookings-control.tsx
  src/components/button/button.tsx
  src/components/button/index.ts
  src/components/button/styles.ts
  src/components/button/types.ts
  src/components/event-item/event-item.tsx
  src/components/event-list/event-list.tsx
  src/components/events-banner/events-banner.tsx
  src/components/info-banner/info-banner.tsx
  src/components/items-list/items-list.tsx
  src/components/loader/loader.tsx
  src/components/loader/styles.ts
  src/components/modal/modal.tsx
  src/components/registration/registration.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated button component variants
  src/components/authorization/authorization.tsx
  src/components/booking-list/booking-list.tsx
  src/components/bookings-controls/bookings-control.tsx
  src/components/button/button.tsx
  src/components/button/styles.ts
  src/components/button/types.ts
  src/components/event-item/event-item.tsx
  src/components/event-list/event-list.tsx
  src/components/events-banner/events-banner.tsx
  src/components/info-banner/info-banner.tsx
  src/components/items-list/items-list.tsx
  src/components/modal/modal.tsx
  src/components/registration/registration.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated button component type
  src/components/button/button.tsx
  src/components/button/types.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated button component imports
  src/components/button/button.tsx
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Added storybook to project
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --check --write ., git add ., eslint --fix

Added button component to storybook
  src/components/button/button.stories.tsx
  src/components/button/types.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Added pages directory
  src/components/app/app.tsx
  src/pages/authorization/authorization.tsx
  src/pages/authorization/index.ts
  src/pages/authorization/styled.ts
  src/pages/bookings/bookings.tsx
  src/pages/bookings/index.ts
  src/pages/bookings/styled.ts
  src/pages/events/events.tsx
  src/pages/events/index.ts
  src/pages/events/styled.ts
  src/pages/registration/index.ts
  src/pages/registration/registration.tsx
  src/pages/registration/styled.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Updated store
  src/components/app/app.tsx
  src/components/events-banner/events-banner.tsx
  src/components/navigation/navigation.tsx
  src/pages/authorization/authorization.tsx
  src/pages/events/events.tsx
  src/store/index.ts
  src/store/user/userSlice.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix

Added leaf button variant
  src/components/button/button.stories.tsx
  src/components/button/button.tsx
  src/components/button/styles.ts
  src/components/button/types.ts
Due: prettier --check --write ., git add ., eslint --fix, stylelint --fix
